:root {
	--cor-f1: #e10600;
	--cor-imsa: #292929;
	--cor-wec: #00a3e0;
	--cor-categoria: #292929;
	--cor-destaque: chartreuse;
	--bs-info-rgb: 127, 255, 0;
}

body {
	background-color: #0c0c0c;
	font-family: 'Sora', sans-serif;
	color: #fff;
}

.arb-titulo span {
	background: var(--cor-destaque);
	color: #133a0d;
	font-style: italic;
}

.titulo-mes {
	font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-left: 2px solid var(--cor-destaque);
  padding-left: 1rem;
}

.header {
	background-color: var(--cor-destaque);
	background-image: url('/src/images/bg-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center center;
}
.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: end;
	
}


.corrida-wrap {
	background: linear-gradient(to top, rgba(0, 0, 0, .5) 40%,
		rgba(0, 0, 0, .2) 80%), var(--bg-image);
	background-color: var(--cor-categoria);
	background-size: cover;
	background-position: bottom;
	padding: 1.5rem;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 25vh;
	aspect-ratio: 4/5;
	overflow: hidden;
}
.corrida-wrap:hover {
	opacity: .9;
}

/* Corrida encerrada */
.corrida-wrap.encerrada {
	filter: saturate(0%);
	border: 3px dotted #f2f2f2;
	opacity: .2;
	transition: all 300ms ease-in;
	background-color: #000;
}
.corrida-wrap.encerrada:hover {
	filter: saturate(80%);
	opacity: 1;
	background-color: initial;
}

a { 
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
a:hover { opacity: .8; color: var(--cor-destaque); text-decoration: underline;}


.corrida-wrap h4 {
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
}

.corrida-info {
	color: #fff
}
.corrida-info p {
	background-color: var(--cor-destaque);
	color: black;
	display: inline;
}
.corrida-data h1 {
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
}
.corrida-data span {
	font-weight: normal;
	text-transform: inherit;
}

.cab {
	margin-bottom: 1.5rem;
	gap: .875rem;
}
.cab p {
	font-size: 1rem;
	margin-bottom: 0;
}

.grid-display {
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
	margin-top: 1.25rem;
	margin-bottom: 3rem;
}

.corrida-encerrada {
	filter: saturate(0);
	border: 4px dotted #d2d2d2;
	opacity: .5;
}
span.badge {
	font-size: 1rem;
	font-weight: normal;
	vertical-align: middle;
}

footer {
	background-color: #1a1a1a;
	min-height: 20vh;
}

.ropade p {
	font-size: .75rem;
	font-weight: lighter;
}

.rodape strong {
	color: var(--cor-destaque);
}